.square1 {
  background-color: red;
  border-radius: 3px;
  height: 400px;
  width: 400px;
  margin: 100px;
  position: absolute;
  /*transition: transform 2s;*/
  display: flex;
  justify-content: space-around;
}

.square2 {
  background-color: blue;
  border-radius: 3px;
  height: 400px;
  margin: 100px;
  transition: transform 2s;
  position: absolute;
  width: 400px;
}

.square2:hover {
  transform: translate(1000px, 1000px);
}

a {
  /*text-align: center;*/
  align-self: center;

}
